.navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
.page-header {
      margin-bottom: 50px;
      border-radius: 0;
    }
img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}