
h1>b {color: #E26418;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    text-transform: uppercase;
    text-align: right;
    margin-left: 10px;
    }


h2 {padding-top: 40px;
padding-bottom: 40px;}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8C8279;
}
i {float: left;}

i{
    font-family: 'Architects Daughter', cursive;
    font-family: 'Cabin Sketch', cursive;
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


h4 {text-align: center;}
