body {
	background-image: url("oliiii.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
    	background-position: center;
    	background-size: 100%;
		backface-visibility: luminosity;
		}
h1,b {color: brown;
	font-family: Cambria;
	text-transform: uppercase;
	text-underline-position: center;
	text-align: center;
	margin : 40px 40px 60px 500px;}


#myCarousel {
	padding-top: 300px;
	text-align: center;
}

h1 { text-align: center; }

.carousel-inner {
    bottom: 100px;
}