
.header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8C8279;}

i {float: left;}

i {
	font-family: 'Architects Daughter', cursive;
	font-family: 'Cabin Sketch', cursive;
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 h1>b {color: #E26418;
	font-family: 'Architects Daughter', cursive;
	font-family: 'Cabin Sketch', cursive;
	font-size: 40px;
	text-transform: uppercase;
	text-align: right;
	margin-left: 10px;
    }

	h1>b>a {color: white;
		background-blend-mode: 20%;
		font-size: 70px;
		font-weight: 300;}
img {
  padding-top: 20px;
  width: auto ;
  max-width: 100% ;
  height: auto;
}
table{align-content: center;
width: 100%;}

th {align-content: center;}

.col-sm-6 {text-align: left;
letter-spacing: 1p; }

div>h2 {font-family: 'Architects Daughter', cursive;
	font-family: 'Cabin Sketch', cursive;
    color: black;
    font-size: 35px;
    text-align: left;}

div>h3 {
    color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 12px;}

div>h4 {
	font-family: 'Architects Daughter', cursive;
	font-family: 'Cabin Sketch', cursive;
    color: black;
    font-size: 35px;
    text-align: left;
    }
.description {font-size: 18px;}

.All-ingredients {font-size: 15px;
line-height: 10pt; color: #575451;}

.steps {font-size: 10px;}
